@import '@variables';

.profile {
  border-radius: 10px;
  background-color: var(--profile-box-background-color);
}

.container {
  width: 90%;
  margin: auto;
  padding: 24px 0;
  text-align: center;

  @include mq(md) {
    width: 70%;
  }

  @include mq(sm) {
    width: 90%;
  }
}

.imgWrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-inline: auto;
}

.name {
  font-size: 20px;
  margin-top: 16px;
}

.description {
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.6;

  p:not(:first-child) {
    margin-top: 10px;
  }
}

.links {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconLink {
  font-size: 28px;
  transition: opacity 0.4s;

  &:link,
  &:visited {
    color: var(--profile-box-icon-color);
  }

  &:hover {
    opacity: 0.8;
  }

  &:first-child {
    margin-right: 20px;
  }
}
