@import '@variables';

.header {
  display: flex;
  padding: 14px 0;
  background-color: var(--header-background-color);
}

.container {
  max-width: var(--content_max_width);
  width: var(--content-width);
  margin: auto;
}

.title {
  font-size: 24px;

  &:link,
  &:visited {
    color: currentColor;
    text-decoration: none;
  }
}
