@import '@variables';

.footer {
  display: flex;
  padding-block: 14px;
  background-color: var(--footer-background-color);
}

.container {
  max-width: var(--content_max_width);
  width: var(--content-width);
  margin: auto;
}

.title {
  font-size: 16px;

  &:link,
  &:visited {
    color: currentColor;
    text-decoration: none;
  }
}
